.poster {
 width: 100%;
}
.poster .simg, .poster .timg, 
.poster .foimg, .poster .fiimg {
    display: none;
}

.poster img {
 width: 100%;
}
.bestselled {
 margin: 55px 0;
}
.bestselled_gen_header{
 text-align: center;
 font-size: 38px;
 font-family: 'EB Garamond';
 color: #463209;
 margin: 0 0 9px;
} 
.bestselled_header {
 text-align: center;
 font-family: 'EB Garamond';
 color: #463209;
 margin-bottom: 46px;
 font-size: 21px;
 font-weight: 600;
} 
.bestselled_cont {
 width: 87%;
 display: flex;
 margin: auto;
 justify-content: space-between;
}

.bestselled_cont .item img {
 width: 100%;
 border-radius: 8px;
}
.bestselled_cont .item {
 width: 18%;
 padding: 11px 19px;
 background-color: #becdbbad;
 border-radius: 12px;
 overflow: hidden;
 position: relative;
 transition: all 0.9s ease-in;
}
.bestselled_cont .item:hover {
 background-color: #a5b1a0;
 border-radius: 7px;
}
.bestselled_cont .item:hover p {
 color: white;
}
.bestselled_cont .item:hover h2 {
 color: white;
}
.bestselled_cont .item h2 {
 font-size: 19px;
 text-align: center;
 font-family: 'EB Garamond';
 font-weight: 900;
 color: #1f2a23;
 transition: all 0.8s ease-in;
 margin-bottom: 7px;
}

.bestselled_cont .item p {
 color: #768679;
 font-weight: 900;
 font-size: 18px;
 padding-top: 2px;
 transition: all 0.8s ease-in;
}
.watches h2 {
    color: #ffffff;
    font-weight: 900;
}
label {
 font-size: 20px;
    margin-right: 20px;
}
input[type="radio"]{
 display: none;
}
label {
 display: block;
 cursor: pointer;
 font-weight: 500;
 margin-bottom: 7px;
}
label span {
 display: inline-flex;
 align-items: center;
 padding: 10px 20px 10px 10px;
 border-radius: 31px;
 transition: .25s ease;
}
label span:hover,
input[type="radio"]:checked + span  {
    background-color: #ffffff;
    margin-bottom: 16px;
}
label span:before {
 content: "";
 background-color: #fff;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 margin-right: 10px;
 transition: .25s ease;
 box-shadow: inset 0 0 0 2px #c8cfc0;
}
input[type="radio"]:checked + span:before {
 box-shadow: inset 0 0 0 6.5px #000000;
}
form {
 padding-top: 15px;
 display: flex;
 flex-wrap: wrap;
}
.coll {
 display: flex;
 justify-content: start;
 flex-wrap: wrap;
 width: 89%;
}
.coll .item  {
 width: 23%;
 padding: 11px;
 background-color: white;
 border-radius: 12px;
 overflow: hidden;
 box-shadow: 3px 2px 15px #8080807b;
 margin-bottom: 25px;
 margin-right: 2%;
}
.coll .item .img_cont {
 width: 100%;
 overflow: hidden;
 border-radius: 8px;
}
.coll .item .img_cont img {

 width: 96%;
    display: block;
    margin: auto;
    border-radius: 8px;
    transition: .25s ease;
}
.coll .item  h3 {
 height: 41px;
 font-family: 'EB Garamond';
 font-weight: 800;
 font-size: 20px;
 text-align: center;
 color: #144126;
 margin-bottom: 25px;
 transition: all 0.25s ease;
}
.coll .item:hover img {
 transform: scale(1.04);
}
.coll .item:hover a {
    background: linear-gradient(80deg, #80808045, #ffffff36, #80808044, #ffffff40);
}
.coll .item:hover h3 {
color: gray;
}
.coll .item a {
 padding: 12px 0;
    display: block;
    text-align: center;
    border: 5px solid white;
    border-radius: 13px;
    margin: 9px 3px 2px;
    text-decoration: none;
    color: #636a60;
    font-weight: 900;
    background: linear-gradient(45deg, #80808045, #ffffff36, #80808044, #ffffff40);
    transition: all 1s ease-in;
    cursor: pointer;
}
.watch_header h2 {
 font-family: 'EB Garamond';
 font-weight: 900;
 font-size: 37px;
 margin-top: 15px;
 margin-bottom: 8px;
}
.watch_header h3 {
 font-size: 17px;
}
.coll .item h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    letter-spacing: .03125em;
    margin: 0 0 16px;
    text-align: center;
    background-color: #eeeef3;
    width: fit-content;
    display: block;
    margin: auto;
    padding: 3px 18px;
    border-radius: 8px;
}
.watches {
    /* background-color: #e6eedd; */
    background-color: #adbbce;
    padding: 47px 0;
}

.spinner_cont {
    text-align: center;
}


app-discover {
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
}

@media only screen and (max-width: 1005px){
    label span:hover, input[type="radio"]:checked + span {
        margin-bottom: 8px;
        font-size: 16px;
        padding: 7px 17px 7px 6px;
    }

}
@media only screen and (max-width: 805px){
    
    .bestselled_gen_header {
        text-align: center;
        font-size: 30px;
    }
    .item h3 {
        height: 45px;
        font-size: 16px;
        line-height: 19px;
    }
    .bestselled_cont {
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }
    .bestselled_cont .item {
        width: 30% !important;
        margin-right: 16px !important;
        margin-bottom: 15px !important;
    }
    .bestselled_cont .item {
        width: 30%;
        padding: 11px 19px;
        background-color: #becdbbad;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        transition: all 0.9s ease-in;
        margin-right: 16px;
        margin-bottom: 15px;
    }
    label {
        display: block;
        cursor: pointer;
        font-weight: 500;
        margin-bottom: 7px;
        margin-right: 3px;
    }
    label span:hover, input[type="radio"]:checked + span {
        margin-bottom: 8px;
        font-size: 16px;
        padding: 7px 17px 7px 6px;
    }
    label span:before {
        content: "";
        background-color: #fff;
        width: 21px;
        height: 21px;
    }
}
@media only screen and (max-width: 605px){
    .bestselled_cont .item {
        width: 31% !important;
        padding: 4px 8px !important;
        margin-right: 8px !important;
        margin-bottom: 15px !important;
    }
    .bestselled_header {
        text-align: center;
        font-family: 'EB Garamond';
        color: #463209;
        margin-bottom: 32px;
    }
    label span {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px 10px 10px;
        border-radius: 31px;
        transition: .25s ease;
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 425px){
    .bestselled_gen_header {
        text-align: center;
        font-size: 25px;
    }
    .bestselled_cont .item {
        width: 42% !important;
    }

}
@media only screen and (max-width: 375px){
    .bestselled_gen_header {
        text-align: center;
        font-size: 19px;
    }
}


@media only screen and (max-width: 905px){
    .poster .simg {
        display: block;
    }
    .poster .fimg, .poster .timg, 
    .poster .foimg, .poster .fiimg {
        display: none;
    }
}

@media only screen and (max-width: 860px){
    .poster .timg {
        display: block;
    }
    .poster .fimg, .poster .simg, 
    .poster .foimg, .poster .fiimg {
        display: none;
    }
}

@media only screen and (max-width: 785px){
    .poster .foimg {
        display: block;
    }
    .poster .fimg, .poster .simg, 
    .poster .timg, .poster .fiimg {
        display: none;
    }
    .bestselled {
        margin: 34px 0;
    }
    
    
}
@media only screen and (max-width: 640px){
    .poster .fiimg {
        display: block;
    }
    .poster .fimg, .poster .simg, 
    .poster .timg, .poster .foimg {
        display: none;
    }
}
.bestselled .item {
    cursor: pointer;
}