<div class="poster">
 <img src="/assets/img/store/watch-poster4.png" alt="">
</div>

<div class="bestselled">
 <div class="container">
  <h2 class="bestselled_gen_header">Top-Selling Watches</h2>
  <h3 class="bestselled_header">A Comprehensive Review of the Most Popular Timepieces on the Market</h3>
 </div>
 <div class="bestselled_cont">
  <div class="item" *ngFor="let watch of bestselledWatches">
   <h2>{{watch.brand}}</h2>
   <img [src]="watch.img" alt="image of watch">
  </div>
 </div>
</div>
<div class="watches">
 <div class="container">
  <h2 class="bestselled_gen_header">Comprehensive List of Watches from Top Brands</h2>
 </div>
 <div class="container">
  <form>
   <label>
    <input type="radio" name="brand" value="Rolex" checked  [(ngModel)]="selectedBrand">
    <span>Rolex</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Patek Philippe"  [(ngModel)]="selectedBrand">
    <span>Patek Philippe</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Audemars Piguet" [(ngModel)]="selectedBrand">
    <span>Audemars Piguet</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Cartier" [(ngModel)]="selectedBrand">
    <span>Cartier</span>
  </label>
   <!-- <label>
    <input type="radio" name="brand" value="Hublot" [(ngModel)]="selectedBrand">
    <span>Hublot</span>
  </label> -->
   <!-- <label>
    <input type="radio" name="brand" value="Breitling"  [(ngModel)]="selectedBrand">
    <span>Breitling</span>
  </label> -->
   <!-- <label>
    <input type="radio" name="brand" value="TAG Heuer"  [(ngModel)]="selectedBrand">
    <span>TAG Heuer</span>
  </label> -->
   <label>
    <input type="radio" name="brand" value="Jaeger-LeCoultre"  [(ngModel)]="selectedBrand">
    <span>Jaeger-LeCoultre</span>
  </label>
   <!-- <label>
    <input type="radio" name="brand" value="Omega"  [(ngModel)]="selectedBrand">
    <span>Omega</span>
  </label> -->
  </form>
   
  
  <div class="watches_cont">
    <app-rolex-store  *ngIf="selectedBrand == 'Rolex'"></app-rolex-store>
    <app-patekphillipestore [collectionsPatekPhillipe]="collectionsPatekPhillipe" *ngIf="selectedBrand == 'Patek Philippe'"></app-patekphillipestore>
    <app-audemars-piguet [collectionsAudemarsPiguet]="collectionsAudemarsPiguet" *ngIf="selectedBrand == 'Audemars Piguet'"></app-audemars-piguet>
    <app-cartier [collectionsCartier]="collectionsCartier" *ngIf="selectedBrand == 'Cartier'"></app-cartier>
    <app-jaeger [collectionsJaeger]="collectionsJaeger" *ngIf="selectedBrand == 'Jaeger-LeCoultre'"></app-jaeger>
  </div>
 </div>
</div>

