
<section class="sect1">
 <!-- <img src="/assets/img/background01.png" #backImg alt=""> -->
 <p #backImg style="display: none;"></p>
 <div class="video_c">
  <video  autoplay  loop class="vd1" poster="/assets/img/background01.png">
    <source src="/assets/video/watchvideo.mp4" type="video/mp4">
  </video> 
  <video  autoplay  loop class="vd2" poster="/assets/img/background01.png">
    <source src="/assets/video/watches2.mp4"  type="video/mp4">
  </video> 
  <video  autoplay  loop class="vd3" poster="/assets/img/background01.png" >
    <source src="/assets/video/watches.mp4" type="video/mp4">
  </video> 
  <video   autoplay  loop class="vd4" poster="/assets/img/background02.png">
    <source src="/assets/video/mobilevideo.mp4" type="video/mp4">
  </video>
 </div>
 <div class="text_cont" >
  <h1 #textConth1>Buy original watches <br> with <span>Time Luxe</span>.</h1>
  <p #textContp>
   Indulge in the luxury of choice with our diverse range of watch styles,
   including iconic models from Rolex, Patek Philippe, Audemars Piguet, and 
   more. Whether you seek understated sophistication or
    bold statement pieces, Time Luxe offers a watch to suit every taste and occasion.
  </p>
 </div>
</section>
<section class="sectBrand">
 <div class="container">
  <h2>Brands with which we cooperate.</h2>
 </div>
 <div class="container">
  <div class="brand_item">
   <div class="brand_name" #brandName>
    <div class="brand_cont">
     <img src="../../../assets/img/home/logo1.png" alt="">
     <img src="../../../assets/img/home/name1.png" alt="">
    </div>
    <p>
     Synonymous with luxury and precision, Rolex is an iconic Swiss 
     watchmaker revered for its timeless designs and impeccable craftsmanship.
    </p>
    
   </div>
   <div class="brand_desc" #brandDesc>
    <img src="../../../assets/img/home/watch1.png" alt="">
   </div>
  </div>
  <div class="brand_item">
 
   <div class="brand_desc" #brandDesc2>
    <img src="../../../assets/img/home/watch2.png" alt="">
   </div>
   <div class="brand_name" #brandName2>
    <div class="brand_cont">
     <img src="../../../assets/img/home/logo2.png" alt="">
     <img src="../../../assets/img/home/name2.png" alt="">
    </div>
    <p>
     Revered for its elegance and sophistication, Cartier creates timeless 
     timepieces that blend exquisite craftsmanship 
     with iconic design, making them a symbol of luxury and refinement.
    </p>
    
   </div>
  </div>
  
 </div>
 <div class="logos">
  <div class="logos-slide">
   <img src="/assets/img/home/brand/brand01.png" alt="">
   <img src="/assets/img/home/brand/brand02.png" alt="">
   <img src="/assets/img/home/brand/brand03.png" alt="">
   <img src="/assets/img/home/brand/brand04.png" alt="">
   <img src="/assets/img/home/brand/brand05.png" alt="">
  </div>
  <div class="logos-slide">
   <img src="/assets/img/home/brand/brand01.png" alt="">
   <img src="/assets/img/home/brand/brand02.png" alt="">
   <img src="/assets/img/home/brand/brand03.png" alt="">
   <img src="/assets/img/home/brand/brand04.png" alt="">
   <img src="/assets/img/home/brand/brand05.png" alt="">
  </div>
 </div>
</section>

<section class="choose">
  <div class="container">
    <h2>Why choose us<span #h2span>?</span></h2>
    <!-- <img src="/assets/img/home/detail01.png" class="detail" alt=""> -->
    <div class="inf2">
      <img src="../../../assets/img/home/inf2.png" alt="" >
    </div>
    <div class="inf1">
      <img src="../../../assets/img/home/inf1.png" alt="">
    </div>
    <div class="choose_cont">
      <div class="choose_item">
        <h3>Authenticity Guaranteed</h3>
        <p>
          At Time Luxe, authenticity is paramount. We meticulously 
          authenticate every luxury timepiece, ensuring only genuine
          products of the highest quality. With every purchase, 
          receive a Certificate of Authenticity for added peace of mind.
          Trust Time Luxe for genuine luxury watches, every time.
        </p>
      </div>
      <div class="choose_item">
        <h3>Curated Selection of Prestigious Brands</h3>
        <p>
          Our curated collection features timepieces from the world's
           most prestigious watch brands, including Rolex, Patek Philippe, 
           Audemars Piguet, and more. With our diverse range of
           styles and designs, customers can find the perfect watch to
            suit their taste and lifestyle.
        </p>
      </div>
      <div class="choose_item">
        <h3>Exceptional Customer Service</h3>
        <p>
          At Time Luxe, we prioritize customer satisfaction above all else.
          From browsing our collection to post-purchase support, 
          our friendly and professional
          team is committed to providing an exceptional 
          shopping experience every step of the way.
        </p>
      </div>
      <div class="choose_item">
        <h3>Investment in Timeless Luxury</h3>
        <p>
          A luxury timepiece is more than just a watch—it's an investment
          in timeless elegance and craftsmanship. With a watch from Time Luxe,
          you're not just buying a piece of jewelry; you're investing in a
          legacy of excellence and prestige that will be cherished 
          for generations to come.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="question">
  <div class="container">
    <h2 class="question_title">Most Frequently Asked Questions</h2>
  </div>
  <div class="container_flex quest_cont_adapt">
    <div class="question_container_gen">
      <div class="question_item">
        <div class="question_header_cont">
          <h3 class="question_header">Are your watches authentic?</h3>

        </div>
        <div class="question_cont">
          <p class="question_answer">
            Yes, all watches sold by Time Luxe are 100% authentic. We source our 
            products directly from authorized dealers 
            and reputable suppliers to ensure the authenticity of every watch.
          </p>
        </div>
      </div>
      <div class="question_item">
        <div class="question_header_cont">
          <h3 class="question_header">How do I determine the correct size for a watch?</h3>

        </div>
        <div class="question_cont">
          <p class="question_answer">
            To find the right size for your watch, measure your wrist 
            circumference and refer to the product description for 
            sizing information. Additionally, many of our watches come
             with adjustable straps or links that can be resized for a custom fit.
          </p>
        </div>
      </div>
      <div class="question_item">
        <div class="question_header_cont">
          <h3 class="question_header">Can I request a specific model or brand not listed on your website?</h3>

        </div>
        <div class="question_cont">
          <p class="question_answer">
            While we strive to offer a diverse selection of watches,
             we may be able to accommodate special requests. Please contact our customer 
            service team with your specific inquiry, and we will do our best to assist you.
          </p>
        </div>
      </div>
    </div>
    <div class="question_img_cont">
      <img src="../../../assets/img/home/det.jpg" alt="">
    </div>
  </div>
  
</section>

<div class="canvas_cont">
  <div class="pin-spacer">
    <canvas class="canvas" #canvas></canvas>
  </div>
  <h2>Authenticity Guaranteed</h2>
  <p class="f_p">
    At Time Luxe, authenticity is our cornerstone. We understand the significance
     of owning genuine luxury timepieces, which is why we meticulously authenticate 
     every watch in our collection. Our rigorous process ensures that only authentic
      products of the 
    highest quality make it to our shelves, giving you confidence in your purchase.
  </p>
  <p class="f_p2">
    Each timepiece at Time Luxe comes with a Certificate of Authenticity,
    providing tangible proof of its genuineness. With us, you can indulge in 
    luxury with peace of mind, knowing that you're investing in the real deal.
  </p>
  <p class="f_p3">
    Experience the assurance of authenticity with Time Luxe - where genuine luxury 
    meets unparalleled quality.
  </p>
</div>


<script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
      integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"
      integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="./app.js"></script>

