<div class="choose">
 <button (click)="show(1)">REVERSO</button>
 <!-- <button (click)="show(2)">POLARIS</button> -->
</div>
<div class="rolex">
<div class="coll">
  <div class="item" *ngFor="let item of collectionsJaegerAll">
    <h4>{{item.model}}</h4>
    <!-- <h3>{{item.coo}}</h3> -->
   
    <div class="img_cont">
      <img [src]="item.img || item.img1" alt="">
    </div>
    <h5>{{item.descrip}}</h5>
    <a (click)="openDescribe(item.id, item.model, item.descrip, item.img, item.url)">
      Discover more</a>
  </div>
</div>
</div> 

<app-discover [object]="discoverInputObject" (sendmes)="closeDiscoverComp()" *ngIf="showDiscoverComp"></app-discover> 