<div class="toolbar">
   <div class="container_flex">
    <div class="brand_name_logo">
     <h2>Time Luxe</h2>
    </div>
    <div class="a_cont" (click)="closeMenu()"  [class.showAcont]="menuVariable">
     <a [routerLink]="''" [class.showAcont]="menuVariable">Home</a>
     <a [routerLink]="'store'" [class.showAcont]="menuVariable">Store</a>
     <a [routerLink]="'contact'" [class.showAcont]="menuVariable">Contact</a>
     <a [routerLink]="'blog'" [class.showAcont]="menuVariable">Blog</a>
    </div>
    <div #menuIcon [class.padd]="menuVariable" class="menu-icon" (click)="showMenu(nav, first_span, third_span, menuIcon)">
     <span #first_span [class.spanRotate1]="menuVariable"></span>
     <span *ngIf="showSpan"></span>
     <span #third_span [class.spanRotate2]="menuVariable"></span>
    </div>
   </div>
  </div>
  